body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color:lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator {
    box-sizing: inherit;
    width: 400px;
    height: 500px;
    background-color:black;
    padding: 5px;
    display: grid;
    grid-template-rows: 70px 1fr;
}

#display {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#equation {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
    color: orange;
}
#number {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    font-size: 40px;
}

#pads {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1px;
    column-gap: 1px;
}

#pads * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
}

#clear {
    grid-column: 1 / 3;
    background-color:firebrick;
}

#zero {
    grid-column: 1 / 3;
}

#equals {
    grid-column: 4;
    grid-row: 4 / 6;
    background-color:midnightblue;
}

.op-pad, .num-pad {
    color: white;
}

.num-pad {
    background-color:#333;
}
.op-pad {
    background-color: #555;
}

.num-pad:hover, .op-pad:hover {
    color: black;
    border: 1px solid white;
}

